<p>dashboard works!</p>
<button type="button">Zaloguj</button>

<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Toggle dropdown</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button class="dropdown-item" ngbDropdownItem>Action - 1</button>
      <button class="dropdown-item" ngbDropdownItem>Another Action</button>
      <button class="dropdown-item" ngbDropdownItem>Something else is here</button>
    </div>
</div>